---
title: Data Gathering
format:
  html:
    css: "styles.css"
    embed-resources: true
    code-fold: true
---

## Data Gathering

This tab shows how and where the data was gathered from. Moreover, it displays a  few row of the row data in order to display the data structure and its content.

### Data sets
It is worth noting that not all data sets have been used for the study, but some just for some EDA as they could give us interesting insights for the study. The ones that have been used just for EDA purposes will be under "Other data sets".

## Census blocks data set

This data set contains the information about all the census blocks in the US. It was downloaded [here](https://catalog.data.gov/dataset/smart-location-database1). The data set contains 117 columns and 220740 rows. Each row is a census block. The information about what each variable means can be found inside EPA pdf inside the data folder. The data looks like this:

In [2]:
import pandas as pd
file_path = '../../data/Raw_Data_project_Pub.Transport_5000/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv'

df = pd.read_csv(file_path)
df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

## Fuel and energy data set

This data set contains information about public transportation, agencies, cities, and energy consumption. It was downloaded [here](https://www.transit.dot.gov/ntd/ntd-data). The data set contains 64 columns and 1315 rows. The data looks like this:

In [3]:
import pandas as pd

file_path = '../../data/Raw_Data_project_Pub.Transport_5000/2021_Fuel_and Energy.xlsm'

df = pd.read_excel(file_path, sheet_name='Fuel and Energy')

df.head()

,Agency,City,State,Legacy NTD ID,NTD ID,Organization Type,Reporter Type,Primary UZA Population,Agency VOMS,Mode,...,Other Fuel (mpg) Questionable,Electric Propulsion (mi/kwh),Electric Propulsion (mi/kwh) Questionable,Electric Battery (mi/kwh),Electric Battery (mi/kwh) Questionable,Any data questionable?,Unnamed: 60,Unnamed: 61,1,Unnamed: 63
0,MTA New York City Transit,Brooklyn,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,18351295,10075,DR,...,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,Hide questionable data tags,NaN
1,MTA New York City Transit,Brooklyn,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,18351295,10075,HR,...,NaN,0.225575,NaN,NaN,NaN,No,NaN,NaN,Show questionable data tags,NaN
2,MTA New York City Transit,Brooklyn,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,18351295,10075,CB,...,NaN,NaN,NaN,NaN,NaN,No,NaN,1.0,1,1.0
3,MTA New York City Transit,Brooklyn,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,18351295,10075,MB,...,NaN,NaN,NaN,1.672273,NaN,No,NaN,NaN,NaN,NaN
4,MTA New York City Transit,Brooklyn,NY,2008,20008,"Subsidiary Unit of a Transit Agency, Reporting...",Full Reporter,18351295,10075,RB,...,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN

## Reddit Data

The following code extracted reddit urls from reddit posts about Public Transportation and saved them to a .json. We only focussed on those that specifically talked about public transportation in order to later analyze the sentiment of people's opinions on public transportation.

In [ ]:
library(RedditExtractoR)
library(jsonlite)

top_Pub_Transp_urls <- find_thread_urls(keywords="public transportation")
jsonlite::write_json(top_Pub_Transp_urls, "top_pub_transp_urls.json")

Then, the following code extracted the content of those reddit posts and performed sentiment analysis on them, generated a data frame, and saved it to a .csv file

In [ ]:
import pandas as pd
import json

with open('sentiment_scores.json', 'r') as json_file:
    sentiment_scores = json.load(json_file)

ids = []
neg_scores = []
neu_scores = []
pos_scores = []
compound_scores = []

for idx, item in enumerate(sentiment_scores, start=1):
    ids.append(idx)
    sentiment_score = item.get('sentiment_score', {})
    neg_scores.append(sentiment_score.get('neg', 0))
    neu_scores.append(sentiment_score.get('neu', 0))
    pos_scores.append(sentiment_score.get('pos', 0))
    compound_scores.append(sentiment_score.get('compound', 0))

data = {
    'ID': ids,
    'Negative Score': neg_scores,
    'Neutral Score': neu_scores,
    'Positive Score': pos_scores,
    'Compound Score': compound_scores
}

df = pd.DataFrame(data)

df.to_csv('sentiment_scores.csv', index=False)

The final data's first few rows look like this (Note that only the sentiments of the posts are shown here but the data set with the content can be found in our data folder under Reddit_sentiment_data):

![](images/Sentiment_analysis.jpeg){width=25%, fig-align="center"}

## Border crossing data set

This data set contains information of the vehicles and their type that crossed the border between other countries and the US. It was downloaded [here](https://data.transportation.gov/Research-and-Statistics/Border-Crossing-Entry-Data/keg4-3bc2). The data set contains 10 columns and 386549 rows. The data looks like this:

In [5]:
import pandas as pd

file_path = '../../data/Raw_Data_project_Pub.Transport_5000/Border_Crossing_Entry_Data_20231103.csv'
df = pd.read_csv(file_path)

df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Detroit,Michigan,3801,US-Canada Border,Aug 2023,Trains,128,42.332,-83.048,POINT (-83.047924 42.331685)
1,Alcan,Alaska,3104,US-Canada Border,Jul 2023,Bus Passengers,696,62.615,-141.001,POINT (-141.001444 62.614961)
2,Calais,Maine,115,US-Canada Border,Jul 2023,Buses,16,45.189,-67.275,POINT (-67.275381 45.188548)
3,Noonan,North Dakota,3420,US-Canada Border,Jul 2023,Trucks,142,48.999,-103.004,POINT (-103.004361 48.999333)
4,Warroad,Minnesota,3423,US-Canada Border,May 2023,Buses,41,48.999,-95.377,POINT (-95.376555 48.999)

## Other data sets

### API for cityofchicago.org

The following code extracted the data frame about buses information in Chicago and saved it into a csv file. After careful analysis, while it was a very interesting dataset, others have been used for our analysis, but for requirement purposes, this has been left in the data folder. The data looks like this:

In [ ]:
import pandas as pd
from sodapy import Socrata

client = Socrata("data.cityofchicago.org", None)

results = client.get("bynn-gwxy", limit=2000)

results_df = pd.DataFrame.from_records(results)

results_df.to_csv('Chicago_avg_Buses.csv')

![](images/Chicago_avg_bus.jpeg){width=50%, fig-align="center"}

### Energy consumed by passenger miles

The files energy_consumed_byMill_passenger_MILES.xlsx and vehicle_production_countries.xlsx were downloaded from: [bts.gov](https://www.bts.gov).

These data sets focuses on the energy consumed by passenger miles and the vehicle production countries. The data looks like this (note that the data sets have many more columns but for the sake of space, only a few are shown here):

![](images/energy.jpeg){width=25%, fig-align="center"}

![](images/vehicle_prod.jpeg){width=25%, fig-align="center"}

### DC Metro Scorecard

The file DC_Metro_Scorecard.xlsx and the zip folders: Walkable_distance_to_PubTrans, [data.world](https://data.world/makeovermonday/2016w51)

The data looks like this (in order of mention):

![](images/DC_scorecard.jpeg){width=25%, fig-align="center"}